.hed {
  width: 15%;
  height: 100%;
  position: fixed;
}
.hed div {
  background-color: rgb(40, 43, 47);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hed div > a {
  display: flex;
  width: 120px;
  height: 120px;
}
.hed div > a > img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
}
.hed > nav {
  height: 50%;
  background-color: rgb(40, 43, 47);
}
.hed > nav > ul {
  width: 100%;
  height: 70%;
}
.hed > nav > ul > li {
  width: 100%;
  height: 53px;
  display: flex;
  border-top: 1px solid rgb(49, 48, 48);
}
.hed > nav > ul > li:nth-of-type(2) > a {
  color: rgb(120, 91, 36);
}
.hed > nav > ul > li:nth-of-type(6) {
  border-bottom: 1px solid rgb(49, 48, 48);
}
.hed > nav > ul > li > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  transition: 0.4s;
}
.hed > nav > ul > li > a:hover {
  color: rgb(120, 91, 36);
}
.hed .ic {
  width: 100%;
  height: 20%;
  display: flex;
}
.hed .ic > a {
  display: flex;
  width: 40px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;
}
.hed .ic > a:hover {
  background-color: rgb(98, 94, 94);
}
.hed .ic > a > svg {
  width: inherit;
  height: inherit;
  transition: 4s;
  display: flex;
  padding: 5px;
}

.row > .row1 {
  width: 100%;
  height: 470px;
  background-image: url(../image/about-us-banner.jpg);
  background-position-x: 70px;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row > .row1 > .row2 {
  width: 500px;
  height: 250px;
  margin-left: 170px;
}
.row > .row1 > .row2 > h2 {
  font-size: 35px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  text-align: center;
  margin-top: 40px;
}
.row > .row1 > .row2 > span {
  display: block;
  width: 130px;
  height: 1px;
  border: 1px solid rgb(120, 91, 36);
  margin-top: 15px;
  margin-left: 190px;
}
.row > .row1 > .row2 > p {
  font-size: 20px;
  color: rgb(237, 237, 237);
  margin-top: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}

.box1 {
  width: 100%;
  height: 500px;
  display: flex;
}
.box1 > .rul1 {
  height: 100%;
  width: 57%;
}
.box1 > .rul1 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box1 > .rul1 > figure > img {
  width: inherit;
  height: inherit;
}
.box1 > .rul2 {
  width: 43%;
  height: 100%;
  background-color: rgb(27, 26, 26);
}
.box1 > .rul2 > .rul21 {
  width: 90%;
  height: 420px;
  margin-top: 90px;
  margin-left: 30px;
}
.box1 > .rul2 > .rul21 > h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  margin-top: 10px;
}
.box1 > .rul2 > .rul21 > .p1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(120, 91, 36);
  margin-top: 10px;
  text-transform: uppercase;
}
.box1 > .rul2 > .rul21 > span {
  display: block;
  width: 145px;
  height: 1px;
  border: 1px solid rgb(120, 91, 36);
  margin-top: 30px;
}
.box1 > .rul2 > .rul21 > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(237, 237, 237);
  line-height: 18px;
  margin-top: 50px;
  text-transform: capitalize;
}

.box2 {
  width: 100%;
  height: 500px;
  display: flex;
}
.box2 > .s1 {
  width: 57%;
  height: 500px;
  background-color: #313539;
}
.box2 > .s1 > .s2 {
  width: 67%;
  height: 420px;
  margin-left: 230px;
  margin-top: 85px;
}
.box2 > .s1 > .s2 h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  margin-top: 20px;
}
.box2 > .s1 > .s2 > .p2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(120, 91, 36);
  margin-top: 15px;
  text-transform: uppercase;
}
.box2 > .s1 > .s2 > span {
  display: block;
  width: 145px;
  height: 1px;
  border: 1px solid rgb(120, 91, 36);
  margin-top: 40px;
}
.box2 > .s1 > .s2 > .p6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(237, 237, 237);
  line-height: 20px;
  text-transform: capitalize;
  margin-top: 40px;
}
.box2 > .s1 > .s2 > .p3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(237, 237, 237);
  line-height: 20px;
  text-transform: capitalize;
  margin-top: 30px;
  margin-left: 5px;
}
.box2 > .s1 > .s2 > .p4,
.box2 > .s1 > .s2 .p5,
.box2 > .s1 > .s2 .p7 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(237, 237, 237);
  line-height: 20px;
  text-transform: capitalize;
  margin-top: 3px;
  margin-left: 4px;
}
.box2 > .r1 {
  height: 100%;
  width: 43%;
}
.box2 > .r1 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box2 > .r1 > figure > img {
  width: inherit;
  height: inherit;
}

.box3 {
  width: 100%;
  height: 500px;
  display: flex;
}
.box3 > .t1 {
  height: 100%;
  width: 57%;
}
.box3 > .t1 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box3 > .t1 > figure > img {
  width: inherit;
  height: inherit;
}
.box3 > .t2 {
  width: 43%;
  height: 100%;
  background-color: rgb(27, 26, 26);
}
.box3 > .t2 > .t3 {
  width: 90%;
  height: 420px;
  margin-top: 90px;
  margin-left: 30px;
}
.box3 > .t2 > .t3 > h3 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  margin-top: 10px;
}
.box3 > .t2 > .t3 > .p8 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(120, 91, 36);
  margin-top: 10px;
  text-transform: uppercase;
}
.box3 > .t2 > .t3 > span {
  display: block;
  width: 145px;
  height: 1px;
  border: 1px solid rgb(120, 91, 36);
  margin-top: 30px;
}
.box3 > .t2 > .t3 > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(237, 237, 237);
  line-height: 18px;
  margin-top: 50px;
  text-transform: capitalize;
}

.box4 {
  width: 100%;
  height: 260px;
  display: flex;
}
.box4 > .bx {
  width: 57%;
  height: inherit;
  background-color: rgb(27, 26, 26);
}
.box4 > .bx > .s1 {
  width: 450px;
  height: 190px;
  margin-left: 250px;
  margin-top: 40px;
}
.box4 > .bx > .s1 .bxp {
  width: 120px;
  height: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4 > .bx > .s1 .bxp > p {
  font-size: 10px;
  color: rgb(120, 91, 36);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}
.box4 > .bx > .s1 > span {
  display: block;
  width: 130px;
  height: 1px;
  border: 1px solid rgb(145, 113, 65);
  margin-top: 2px;
}
.box4 > .bx > .s1 > .bxp1 {
  width: 430px;
  height: 70px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4 > .bx > .s1 > .bxp1 > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  font-size: 15px;
  line-height: 22px;
}
.box4 > .bx > .s1 > .bxa {
  width: 135px;
  height: 35px;
  margin-top: 10px;
  display: flex;
}
.box4 > .bx > .s1 > .bxa > a {
  display: flex;
  width: inherit;
  height: inherit;
  border: 1px solid rgb(237, 237, 237);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: rgb(237, 237, 237);
}
.box4 > .bx > .s1 > .bxa > a:hover {
  background-color: rgb(114, 107, 107);
}
.box4 > .bx1 {
  width: 43%;
  height: inherit;
  background-color: #313539;
}
.box4 > .bx1 > .s2 {
  width: 450px;
  height: 190px;
  margin-left: 40px;
  margin-top: 40px;
}
.box4 > .bx1 > .s2 > .bx1p {
  width: 120px;
  height: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4 > .bx1 > .s2 > .bx1p > p {
  font-size: 10px;
  color: rgb(120, 91, 36);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}
.box4 > .bx1 > .s2 > span {
  display: block;
  width: 130px;
  height: 1px;
  border: 1px solid rgb(145, 113, 65);
  margin-top: 2px;
}
.box4 > .bx1 > .s2 > .bx1p1 {
  width: 430px;
  height: 70px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box4 > .bx1 > .s2 > .bx1p1 > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(237, 237, 237);
  font-size: 15px;
  line-height: 22px;
}
.box4 > .bx1 > .s2 > .bx1a {
  width: 135px;
  height: 35px;
  margin-top: 10px;
  display: flex;
}
.box4 > .bx1 > .s2 > .bx1a > a {
  display: flex;
  width: inherit;
  height: inherit;
  border: 1px solid rgb(237, 237, 237);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: rgb(237, 237, 237);
}
.box4 > .bx1 > .s2 > .bx1a > a:hover {
  background-color: rgb(114, 107, 107);
}

.box5 {
  width: 100%;
  height: 386px;
  display: flex;
  margin-left: 201px;
}
.box5 > * {
  width: 290px;
  height: inherit;
}
.box5 > .ip1 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box5 > .ip1 > figure .img {
  width: 100%;
  height: 100%;
}
.box5 > .ip2 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box5 > .ip2 > figure .img {
  width: 100%;
  height: 100%;
}
.box5 > .ip3 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box5 > .ip3 > figure .img {
  width: 100%;
  height: 100%;
}
.box5 > .ip4 > figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box5 > .ip4 > figure .img {
  width: 100%;
  height: 100%;
}

.box6 {
  width: 100%;
  height: 90px;
  display: flex;
  margin-left: 201px;
  background-color: rgb(12, 12, 12);
}
.box6 > .a1 {
  width: 290px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6 > .a1 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  transition: 0.4s;
}
.box6 > .a1 > a:hover {
  color: rgb(120, 91, 36);
}
.box6 > .a2 {
  width: 290px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6 > .a2 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  transition: 0.4s;
  font-size: 18px;
}
.box6 > .a2 > a:hover {
  color: rgb(120, 91, 36);
}
.box6 > .a3 {
  width: 290px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6 > .a3 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  transition: 0.4s;
}
.box6 > .a3 > a:hover {
  color: rgb(120, 91, 36);
}
.box6 > .a4 {
  width: 290px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box6 > .a4 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  transition: 0.4s;
}
.box6 > .a4 > a:hover {
  color: rgb(120, 91, 36);
}

.box7 {
  width: 100%;
  height: 450px;
  background-color: #313539;
  display: flex;
}
.box7 > .s6 {
  width: 1050px;
  height: 400px;
  margin-left: 250px;
  margin-top: 30px;
}
.box7 > .s6 > .s7 {
  width: 1050px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(49, 48, 48);
}
.box7 > .s6 > .s7 > figure {
  display: flex;
  width: 125px;
  height: 125px;
}
.box7 > .s6 > .s7 > figure > img {
  width: 100%;
  height: 100%;
}
.box7 > .s6 > .s8 {
  width: 450px;
  height: 130px;
  margin-left: 300px;
  display: flex;
}
.box7 > .s6 > .s8 > .s81 {
  width: 150px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7 > .s6 > .s8 > .s81 > svg {
  transition: 0.4s;
}
.box7 > .s6 > .s8 > .s81 > svg:hover {
  background-color: rgb(91, 91, 89);
}
.box7 > .s6 > .s8 > .s81 > a {
  display: flex;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10px;
  transition: 0.4s;
  padding-left: 5px;
}
.box7 > .s6 > .s8 > .s81 > a:hover {
  color: rgb(120, 91, 36);
}
.box7 > .s6 > .s8 > .s82 {
  width: 150px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7 > .s6 > .s8 > .s82 > svg {
  transition: 0.4s;
}
.box7 > .s6 > .s8 > .s82 > svg:hover {
  background-color: rgb(91, 91, 89);
}
.box7 > .s6 > .s8 > .s82 > a {
  display: flex;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  transition: 0.4s;
  padding-left: 5px;
}
.box7 > .s6 > .s8 > .s82 > a:hover {
  color: rgb(120, 91, 36);
}
.box7 > .s6 > .s8 > .s83 {
  width: 150px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7 > .s6 > .s8 > .s83 > svg {
  transition: 0.4s;
}
.box7 > .s6 > .s8 > .s83 > svg:hover {
  background-color: rgb(91, 91, 89);
}
.box7 > .s6 > .s8 > .s83 > a {
  display: flex;
  color: rgb(237, 237, 237);
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  transition: 0.4s;
  padding-left: 5px;
}
.box7 > .s6 > .s8 > .s83 > a:hover {
  color: rgb(120, 91, 36);
}
.box7 > .s6 > .s9 {
  width: 1050px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(49, 48, 48);
}
.box7 > .s6 > .s9 > div {
  width: 300px;
  height: 130px;
  margin-top: 20px;
}
.box7 > .s6 > .s9 > div > p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
  color: rgb(237, 237, 237);
  line-height: 40px;
  transition: 0.4s;
  padding-top: 20px;
  margin: 5px;
}
.box7 > .s6 > .s9 > div > p:hover {
  color: rgb(120, 91, 36);
}/*# sourceMappingURL=master2.css.map */